extends ~Views/layouts/default

include ~Views/components/nav
include ~Views/components/side-menu
include ~Views/components/tabs
include ~Views/components/project-list
//- include ~Views/components/contact-form

block variables
  -
    const common = require('~Data/common.json');
    const {head: {title, description}} = require('~Data/home.json');
    const tabsAbout = require('~Data/tabs-about.json');
    const projects = require('~Data/projects.json');
    const contacts = require('~Data/contacts.json');

block append style
  link(href=require('~Styles/home.scss'), rel='stylesheet')

block append script
  script(src=require('~Scripts/home.js'))

block content
  header.header
    nav.navbar
      a.navbar__logo(href='/')= common.site.name
      input#menu-toggle.js-menu-toggle.menu-toggle(type='checkbox')
      label.hamburger(for='menu-toggle')
        span.hamburger__line
      +nav('header')

  main.js-main.main 
    section#hello.js-section.section.section_wide.hello
      p 
        | Привет
        |
        i.fa-solid.fa-hand-spock.hello__icon
        | , меня зовут
      h1 Юрий Лысюк
      p.hello__desc Frontend-разработчик на React
      hr.hr_invisible.hello__hr
      p.comment.text_size_smaller Можете заглянуть на GitHub
      p.js-code.code.text_size_smaller.
        const gitHub = '#{ contacts.items.github.link }';
      p.comment.text_size_smaller или скачать резюме
      p.js-code.code.text_size_smaller.
        const cv = '#{ common.cv.link }';

    section#about.js-section.section.section_2col
      h2.js-convert-title.h2.text_hidden_pc Обо мне

      aside.js-tabs-menu.sidebar
        +side-menus(tabsAbout)

      .column
        +tabs-wrap(["js-tabs", "tabs_view_code"])
          +tab-groups(tabsAbout, 'tabs-about')

    section#projects.js-section.section.section_2col
      h2.js-convert-title.h2.text_hidden_pc Проекты

      aside.js-filter-menu.sidebar
        +side-menu(projects)
        +side-menu(contacts)

      .column
        +tabs-wrap(["js-filters"])
          +tab(projects, 'tab-projects', 'clear')

          +tab-content-wrap
            +project-list(projects.items)

    //- section#contacts.js-section.section.section_2col
    //-   h2.js-convert-title.h2.text_hidden_pc Контакты

    //-   aside.sidebar
    //-     +side-menu(contacts)

    //-   .column
    //-     +tabs-wrap
    //-       +tab(contacts, 'tab-contacts')

    //-       +tab-content-wrap
    //-         +contact-form

  footer.footer
    nav.navbar
      .navbar__text.js-convert-title Ищите меня в:
      .navbar__nav.nav
        +nav('footer')
