//- External variables
block variables

doctype html
html(lang='ru', dir='ltr')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(
      name='viewport',
      content='width=device-width, initial-scale=1, maximum-scale=1'
    )
    meta(name='description', content=description)

    link(
      rel='shortcut icon',
      href=require('~Favicons/favicon.ico'),
      type='image/x-icon'
    )

    link(
      rel='icon',
      href=require('~Favicons/favicon-16x16.png'),
      type='image/png',
      sizes='16x16'
    )

    link(
      rel='icon',
      href=require('~Favicons/favicon-32x32.png'),
      type='image/png',
      sizes='32x32'
    )

    link(
      rel='icon',
      href=require('~Favicons/mstile-150x150.png'),
      type='image/png',
      sizes='150x150'
    )

    link(
      rel='apple-touch-icon',
      href=require('~Favicons/apple-touch-icon.png'),
      type='image/png',
      sizes='180x180'
    )

    link(
      rel='icon',
      href=require('~Favicons/android-chrome-192x192.png'),
      type='image/png',
      sizes='192x192'
    )

    link(
      rel='icon',
      href=require('~Favicons/android-chrome-512x512.png'),
      type='image/png',
      sizes='512x512'
    )

    link(rel='manifest', href=require('~Favicons/site.webmanifest'))

    link(
      rel='mask-icon',
      href=require('~Favicons/safari-pinned-tab.svg'),
      color='#fea55f'
    )

    meta(name='msapplication-TileColor', content='#010c15')

    meta(name='theme-color', content='#010c15')

    title= title

    block style
      link(
        rel='preload',
        href=require('~Fonts/FiraCode-VF.woff2'),
        as='font',
        type='font/woff2',
        crossorigin
      )
      link(href=require('~Styles/common.scss'), rel='stylesheet')

  body
    .container
      block content

    block script
      script(src=require('~Scripts/common.js'), defer)

    include ~Analytics/metrika.html
