//- External variables
block variables

doctype html
html(lang='ru', dir='ltr')
  head
    //- Meta
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(
      name='viewport',
      content='width=device-width, initial-scale=1, maximum-scale=1'
    )
    meta(property='description', content=description)

    //- Page title
    title= title

    //- Page styles
    block style
      //- common used styles
      link(rel='stylesheet', href=require('~Styles/base/main.scss'))

    //- Additional head block, e.g. for preload scripts in head
    block head
      script(src=require('~Scripts/common.js'), defer)

  body
    block content

    block script
