mixin nav(position)
  -
    const navs = require('~Data/nav.json');
    const {navClasses, defaultItemClasses, items} = navs[position];

  .nav.navbar__nav(class=navClasses)
    each item in items
      +navLink(defaultItemClasses, item)

mixin navLink(defaultItemClasses, item)
  -
    function replaceContact(data = '') {
      return data.replace(/#{(\w+)-(\w+)}/gim, (match, contact, prop) => {
        return common.contacts[contact][prop] || data;
      });
    };

    item.link = replaceContact(item.link)
    item.title = replaceContact(item.title)
    item.name = replaceContact(item.name)

  a.nav__link(
    class=defaultItemClasses,
    class=item.classes,
    href=item.link,
    target=item.isTargetBlank ? '_blank' : '_self',
    rel=item.isNofollow ? 'nofollow' : 'follow',
    title=item.title
  )
    unless item.onlyIcon
      span= item.name

    if item.iconClasses
      i(class=item.iconClasses)
