mixin project-list(list)
  .projects
    each project in list 
      .project(data-tags=project.tags.join())
        h3.project__title 
          | #{ project.name }
          |
          span.comment.text_size_smaller #{ project.id }

        .project__card
          img.project__img(src=project.img)

          .project__tags
            each tag in project.tags
              .project__tag(class=`project__tag_${tag}`)
                i(class=projects.filters[tag].iconClasses)

          .project__content
            .project__desc #{ project.description }

            .project__buttons
              a.button.button_default(
                href=project.demo,
                target='_blank',
                rel='nofollow'
              ) 
                i.fa-solid.fa-up-right-from-square
                |
                | Live

              a.button.button_default(
                href=project.source,
                target='_blank',
                rel='nofollow'
              ) 
                i.fa-brands.fa-github
                |
                | Source
