mixin side-menu-tab-list(items)
  .side-menu__list
    each item in items
      - const { id, name, order, iconClasses, isChecked } = item;

      label.file(
        class=isChecked ? 'file_active' : '',
        data-tab-id=`tab-${order}-${id}`,
        data-tab-action='open',
        for=`tab-${order}-${id}`
      )
        span
          i.file__icon(class=iconClasses)
          |
          | #{ name }
