include ~Views/helpers/replaceContactData

mixin tabs-wrap(classes)
  .tabs(class=classes)
    block

mixin tab-groups(tabGroups, tabsRadioName)
  each tabGroup in tabGroups
    +tab-list(tabGroup, tabsRadioName)

mixin tab-list({items}, tabsRadioName)
  each item in items
    +tab(item, tabsRadioName)

mixin tab(item, tabsRadioName, closeAction)
  -
    const { id, name, order, iconClasses, isLock, isChecked, content } = item;
    const tabId = `tab${order ? '-' + order : ''}-${id}`;
    const text = {
      close: 'Закрыть',
      clear: 'Очистить',
    };
    closeAction = closeAction ? closeAction : 'close';

  input(id=tabId, name=tabsRadioName, type='radio', checked=isChecked)

  label.file.tab__header(
    class=isChecked ? 'tab_opened' : '',
    data-tab-id=tabId,
    data-tab-action='open',
    for=tabId
  )
    span
      i.file__icon(class=iconClasses)
      |
      | #{ name }

      unless isLock
        span.tab__close
          i.fa-solid.fa-xmark(
            data-tab-id=tabId,
            data-tab-action=closeAction,
            title=text[closeAction]
          )

  if (content)
    +tab-content-wrap
      +tab-content(content)

mixin tab-content-wrap(content)
  .tab__content
    block

mixin tab-content(content)
  pre
    code.js-code
      +replaceContactData(content)
