include ~Views/components/tab-content

mixin tabs(tabGroups)
  .js-tabs.tabs
    each tabGroup in tabGroups
      each tab in tabGroup.list
        - const { id, name, order, iconClasses, isLock, isChecked, content } = tab;

        input(id=`tab-${order}-${id}`, name='tabs', type='radio', checked=isChecked)

        label.file.tab__header(
          class=isChecked ? 'tab_opened' : '',
          data-tab-id=`tab-${order}-${id}`,
          data-tab-action='open',
          for=`tab-${order}-${id}`
        )
          span
            i.file__icon(class=iconClasses)
            |
            | #{ name }

            unless isLock
              span.tab__close
                i.fa-solid.fa-xmark(
                  data-tab-id=`tab-${order}-${id}`,
                  data-tab-action='close'
                )

        +tab-content(content)
